.badge-notify{
   background:red;
   position:relative;
}

.square-input{
    border-radius: 0px !important;
}

.square-btn{
    border-radius: 0px !important;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.centered-box{
    text-align: center;
}

.CodeMirror {
	height: 100px !important;
}

.custom-menu li a{
    padding: 10px 15px !important;
}

.custom-menu li a:first{
    border-top: 1px solid #efefef !important;
}

.custom-menu li a{
    color: #777 !important;
    border-bottom: 1px solid #efefef;
}

.custom-menu li a:hover{
    color:#111 !important;
    background-color: #efefef !important;
}

.nav ul li a{
    padding: 10px 15px !important;
}

.nav ul li a:hover{
    color:#111 !important;
    background-color: #efefef !important;
}

.status-msg {
   padding: 40px 15px;
   text-align: center;
}

.status-action {
   margin-top:15px;
   margin-bottom:15px;
}

.status-details {
   font-size: 17px;
}

.affix {
   top: 0;
   width: 100%;
   z-index: 100;
}

.affix + .container-fluid {
   padding-top: 70px;
}

/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.link-cursor:hover{
  color: #ddd;
}

.link-cursor{
  cursor: pointer;
}

.custom-badge{
  padding: 12px 10px !important;
  font-size: 14px !important;
  margin: 5px !important;
}

.menu-selected{
    background-color: #ffc907 !important;
}
